@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary Colors: Use --dark-red for headings, borders, or prominent buttons.
Accent Colors: Use --soft-pink and --warm-rose for backgrounds, hover effects, or secondary buttons.
Base Color: Use --light-pink as the main theme color.
Light Accents: --soft-cream can add subtle highlights without overpowering the palette. */
:root {
  --light-pink: #ec8291; /* Base color */
  --dark-red: #8b2a3b; /* Deep, dark red */
  --soft-pink: #f5b7c3; /* Light, muted pink */
  --wine-red: #a6294e; /* Wine-inspired dark red */
  --dusty-rose: #b3777b; /* Soft, dusty rose */
  --warm-rose: #cc5660; /* Warmer tone of rose */
  --soft-cream: #fbe8e9; /* Soft, pale cream for lighter accents */
}

@media (prefers-color-scheme: dark) {
  /* :root {
  } */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--light-pink);
  color: var(--soft-cream);
}

a {
  color: inherit;
  text-decoration: none;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
